
* {
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
font-family: 'Roboto Condensed', sans-serif;
}

.container {
    max-width: 1298px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    max-width: 100%;
}
.header_main {
    padding: 38px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_top {
    display: flex;
    align-items: center;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    gap:22px;
    align-items: center;
    margin-left: 41px;
}

.menu_list-btn {
    display: flex;
    justify-content: space-between;
    gap:29px;
    align-items: center;

}

.menu_link {
    font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #211F54;

}

.menu_link-btn-text {
    font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #211F54;
}

.menu_link-btn {
    background: #0075FF;
border-radius: 14px;
padding: 17px 24px;
font-weight: 400;
font-size: 16px;
line-height: 18px;
text-align: center;
color: #FFFFFF;

}



.header_top-info {
    display: flex;
    justify-content: space-between;
}

.header_info-main-btn-list {
    display: flex;
    align-items: center;
    gap:30px;

}

.header_info-main-btn-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-info-title {
    font-weight: 700;
font-size: 68px;
line-height: 74px;
margin-bottom: 22px;
color: #211F54;
}

.header-info-text {
    font-style: normal;
font-weight: 400;
font-size: 21px;
margin-bottom: 34px;
max-width: 591px;
line-height: 30px;
color: #6E7191;
}

.header_info-main_link-btn {
    background: #0075FF;
    border-radius: 14px;
    padding: 26px 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.header_info-main-btn-item-call {
    font-weight: 400;
font-size: 16px;
line-height: 18px;
letter-spacing: 1.6px;
text-transform: uppercase;
color: #6E7191;
margin-bottom: 4px;

}


.header-info {
    padding: 227px 0;
}


.service {
    padding: 223px 0;
    text-align: center;
    border-bottom: 1px solid #DCDDEB;
    border-radius: 0px;
    max-width: 1268px;
    margin: 0 auto;
}


.service-title {
    margin-bottom: 21px;
    font-weight: 700;
font-size: 48px;
line-height: 58px;
text-align: center;
color: #211F54;

}


.service-text {
    font-weight: 400;
font-size: 21px;
line-height: 30px;
text-align: center;
max-width: 648px;
margin: 0 auto;
color: #6E7191;

}

.service_items {
    display: flex;
    padding-top: 58px;
    justify-content: space-between;
}

.service_btns {
    display: flex;
    justify-content: center;
    padding: 67px 0;
    gap:28px;
}

.service_item-img {
    margin-bottom: 39px;
}

.service_item-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #211F54;
}

.service_item-text {
    font-weight: 400;
    padding-top: 16px;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #6E7191;
max-width: 412px;
margin: 0 auto;    
}

.service_btn-link-blue {
    background: #0075FF;
    border-radius: 14px;
    padding: 26px 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.service_btn-link {
    box-shadow: 0px 4px 10px 0px #14142B0A;
    border-radius: 14px;
    padding: 26px 38px;
    font-size: 18px;
line-height: 20px;
text-align: center;
color: #211F54;
border: 1px solid #EFF0F6
}


.cleaning {
    padding: 240px 0;
    border-bottom: 1px solid #DCDDEB;
    border-radius: 0px;
    max-width: 1268px;
    margin: 0 auto;
   
}
.cleaning-items {
    display: flex;
    justify-content: center;
    gap:97px;
    margin-bottom: 50px;
}

.cleaning-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cleaning-item-title span {
    display: block;
    font-weight: 700;
font-size: 28px;
line-height: 36px;
color: #211F54;

}


.cleaning-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #6E7191;
}


.cleaning_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #211F54;
    margin-bottom: 16px;
}

.cleaning-text {
    font-weight: 400;
    font-size: 21px;
    max-width: 702px;
    margin: 0 auto;
    line-height: 30px;
    margin-bottom: 38px;
    text-align: center;
    color: #6E7191;
    
}


.cleaning-video {
    background-image: url('../images/IMAGE\ \(11\).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
    border-radius: 53px;
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 1012px;
    margin: 0 auto;
    text-align: center;

}


.professional {
    padding: 240px 0;
}

.professional-title {
font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #211F54;
}

.professional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.professional_items {
    padding-top: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.professional-img {
    margin-bottom: 24px;
}

.professional_item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px; 
    text-align: center;
    color: #211F54;
margin-bottom: 13px;
}

.professional_item-text {
    max-width: 312px;
    margin: 0 auto;
    font-weight: 400;
font-size: 21px;
line-height: 30px;
text-align: center;
color: #6E7191;

}
.item2 {
    position: relative;
    top:-14px;
}

.professional-item {
    background: #FFFFFF;
    border: 1px solid #EFF0F6;
    box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
    border-radius: 16px;
    text-align: center;

padding:  83px 38px 29px 38px;
}


.covid {
    padding: 0 0 200px 0;
}
.covid_inner {
    background: #211F54;
    display: flex;
    border-radius: 24px;
    align-items: center;
    gap:100px;

}

.covid_btns {
    display: flex;
    gap:30px;

}

.covid_btn {
    display: flex;
    align-items: center;
}

.covid-subtitle {
margin-bottom: 17px;
font-weight: 700;
font-size: 16px;
line-height: 18px;
letter-spacing: 1.6px;
text-transform: uppercase;
color: #FFFFFF;

}

.covid-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 491px;
    margin-bottom: 18px;
}

.covid-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    max-width: 474px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.covid-btn-link-blue {
    background: #0075FF;
    border-radius: 14px;
    padding: 26px 38px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.covid_btn_inner-call {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.covid_btn_inner-phone {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
  color: #FFFFFF;
    
}

.home {
    padding: 0 0 220px 0;
}
.home_info-items {
    display: flex;
    gap:70px;
    align-items: center;
   margin-bottom: 50px;
}

.home_inner {
    display: flex;
    align-items: center;
    gap:100px;
}

.home_info-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px; 
    color: #211F54;
    margin-bottom: 20px;
}

.home_info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #6E7191;
    margin-bottom: 30px;
    max-width: 496px;
}

.home_info-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.home_info-sub-title {
    padding: 0 15px;
}

.home-btn-link-blue {
    background: #0075FF;
    border-radius: 14px;
    padding: 26px 38px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}


.makes {
    padding: 0 0 225px 0;
    border-bottom: 1px solid #DCDDEB;
    border-radius: 0px;
    max-width: 1268px;
    margin: 0 auto;
}
.makes_inner {
    display: flex;
    justify-content: space-between;
}

.makes-title {
margin-bottom: 20px;
font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #211F54;
}

.makes-text {
margin-bottom: 15px;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #6E7191;
max-width: 496px;

}

.makes-sub-text {
margin-bottom: 25px;
font-weight: 400;
font-size: 12px;
line-height: 30px;
color: #6E7191;
max-width: 465px;

}

.makes_item-numbers {
display: flex;
gap:58px;
align-items: center;
margin-bottom: 48px;
}


.makes-btn-link-blue {
    background: #0075FF;
    border-radius: 14px;
    padding: 26px 38px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.makes_number span {
    font-weight: 400;
font-size: 54px;
line-height: 66px;
color: #0075FF;

}

.makes_number {
    font-weight: 700;
font-size: 54px;
line-height: 66px;
color: #211F54;
margin-bottom: 3px;
}

.makes_number-year {
    font-weight: 700;
font-size: 18px;
line-height: 24px;
color: #6E7191;
}


.aticles {
    padding: 240px 0 240px 0;
}
.aticles-main-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aticles-main-btns {
    display: flex;
    gap: 30px;
}

.aticles-main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px; 
    color: #211F54;
    margin-bottom: 10px;
}

.aticles-main-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;  
    color: #6E7191;
    margin-bottom: 10px;
    max-width: 474px;
}

.aticles-main_btn-link-blue {
    background: #0075FF;
    border-radius: 14px;
    padding: 26px 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.aticles-main_btn-link {
    box-shadow: 0px 4px 10px 0px #14142B0A;
    border-radius: 14px;
    padding: 26px 38px;
    font-size: 18px;
line-height: 20px;
text-align: center;
color: #211F54;
border: 1px solid #EFF0F6
}



.resources-info-text-main-item-block {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #0075FF;
    margin-top: -20px;

}

.aticles_resources-items {
    display: flex;
    justify-content: space-between;
}

.resources-info{
    max-width: 536px;
    height: 344px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    border: 1px solid #EFF0F6;
    border-radius: 24px;
    box-shadow: 0px 2px 6px 0px #14142B0A;
    box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
    padding: 52px 49px 49px 49px;
    margin-top: -60px;
}

.resources-title {
margin-bottom: 17px;
font-weight: 700;
font-size: 24px;
line-height: 34px;
color: #211F54;

}

.resources-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
 margin-bottom: 10px;
    color: #6E7191;
}

.resources-info-text-main {
    display: flex;
    gap:279px;
    align-items: center;
}

.resources-info-text-main-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #211F54;
    
}

.header_info-main-btn-itemu {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.line {
    border: 1px solid #DCDDEB;
max-width: 487px;
margin-bottom: 40px;
}

.form {
    background: #F7F9FC;

    padding: 240px 0 240px 0;
}

.form_info {
    padding-top: 160px;
}
.form_inner {
    display: flex;
    gap:62px;
}

.form_title  {
margin-bottom: 8px;
font-weight: 700;
font-size: 48px;
line-height: 58px;
color: #211F54;
}

.form_text {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #6E7191;
    margin-bottom: 10px;
    max-width: 485px;
}

.form-title {
margin-bottom: 9px;
font-weight: 700;
font-size: 28px;
line-height: 36px;
color: #211F54;

}

.form-text {
margin-bottom: 40px;
font-weight: 400;
font-size: 21px;
line-height: 30px;
color: #6E7191;
max-width: 486px;

}

.form-second-white_btn {
    background: #FFFFFF;
    border: 1px solid #EFF0F6;
    box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
    border-radius: 14px;
    padding: 26px 38px;
    font-weight: 700;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #211F54;

}

.form_main {
    padding: 85px 61px;
background: #FFFFFF;
border: 1px solid #EFF0F6;
box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
border-radius: 16px;
}

.form_main-item {
    display: flex;
    gap:33px;
}

.form_main-item-block label {
    display: block;
    margin-bottom: 12px;
    font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #211F54;
}

.form_main-item-block {
    padding: 32px 0;
}

.form_main-item-block input {
    background: #FFFFFF;
border: 1px solid #EFF0F6;
box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
border-radius: 16px;
height: 72px;
padding: 20px;

width: 259px;
}


.form_area label {
    display: block;
    font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #211F54;
margin-bottom: 12px;
}
.textarea {
    width: 551px;
    background: #FFFFFF;
border: 1px solid #EFF0F6;
box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.08);
border-radius: 22px;
height: 144px;
resize: none;
padding: 20px;
}

.form-second-blue_btn {
    background: #0075FF;
    border-radius: 14px;
    padding: 26px 38px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.form-third-btn {
    margin-top: 60px;
}

.numbber {
    font-weight: 700;
font-size: 28px;
line-height: 36px;
color: #211F54;
}


.footer {
    border-bottom: 1px solid #DCDDEB;
    border-radius: 0px;
    max-width: 1268px;
    margin: 0 auto;
    padding: 150px 0 0px 0;

}
.footer_list {
    display: flex;
    justify-content: space-between;
}

.Quality-title {
    font-weight: 700;
font-size: 28px;
line-height: 36px;
color: #211F54;
margin-bottom: 7px;
}

.Quality-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px; 
    max-width: 304px;
    color: #6E7191;
}

.footer_list-items-title {
    font-weight: 700;
font-size: 20px;
line-height: 22px;
margin-bottom: 30px;
color: #211F54;
}

.footer_list-element {
    font-weight: 400;
font-size: 18px;
line-height: 30px;
padding: 10px 0;
color: #6E7191;

}

.footer_list-items-day-title {
    margin-bottom: 28px;
    font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #211F54;
}

.footer_list-items-days-element {
    margin-bottom: 8px;
    font-weight: 700;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


color: #211F54;

}

.footer_list-items-days-element-grey {
    margin-bottom: 17px;
    font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #6E7191;
}

.footer_list-items-free-title {
margin-bottom: 28px;
font-weight: 700;
font-size: 20px;
line-height: 22px;
/* identical to box height, or 110% */


color: #211F54;

}

.footer_list-items-free-number {
margin-bottom: 6px;
font-weight: 700;
font-size: 28px;
line-height: 36px;
/* identical to box height, or 129% */


color: #0075FF;
}

.footer_list-items-free-text {
margin-bottom: 18px;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #6E7191;
max-width: 294px;
}


.footer_list-items-free-btn {
    margin-top: 38px;
}

.footer_list-items-free-btn a {
    background: #0075FF;
    border-radius: 14px;
    padding: 26px 38px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}


.footer_copy {
    padding: 140px 0 40px 0;
}
.footer_copy_inner {
    display: flex;
    justify-content: space-between;
}

.footer_copy-list {
    display: flex;
    gap:6px;
    align-items: center;
}

.copy-blue {
    font-weight: 400;
font-size: 18px;
line-height: 30px;
text-align: right;
text-decoration-line: underline;
color: #0075FF;

}

.menu_phone {
    display: none;
}

.covid_btn{
    position: relative;
    left: 0px;
}

@media(max-width:1285px) {
.header_top-info {
display: block;
}
 .header-info-img {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 180px;
    text-align: center;
 }

 .header-info {
    margin-top: 640px;
    text-align: center;
 }
 .header_info-main-btn {
    display: flex;
    justify-content: center;
 }
 .header-info-text {
    margin: 0 auto;
    margin-bottom: 30px;
 }
 .service {
    margin-top: -240px;
 }
 .service_items {
    flex-wrap: wrap;
 }
 .item3 {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
 }
 .cleaning {
    margin-top: -100px;
 }
 .professional_items {
    flex-wrap: wrap;
 }

 .item-block-prof2 {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
 }
 .aticles_resources-items {
    display: block;
   padding: 60px 0;
    text-align: center;
 }
 .aticles_resources-item {
   padding: 40px 0;
 }
 .aticles-main-info {
    padding: 0 20px;
 }
}


@media(max-width:1155px) {
    .home_info {
        margin-right: 40px;
    }
    .home_info-title {
        font-size: 40px;
    }
    .home_info-text {
        font-size: 15px;
        line-height: 30px;
    }
    .form_inner {
        display: block;
    }
    .form {
        padding: 0px 0 100px 0;
    }
    
   .form_info {
    text-align: center;
   }
   .form_text {
    margin: 0 auto;
    margin-bottom: 10px;
   }
   .form-text {
    margin: 0 auto;
    margin-bottom: 60px;
   }
   .line {
    margin: 0 auto;
margin-bottom: 30px;
   }
   .form-title {
    margin-bottom: 10px;
   }
   .header_info-main-btn-itemu {
    display: block;
    justify-content: center;
   }
   .textarea {
    max-width: 100%;
   }
   
  
   .form_main {
    position: relative;
    top:80px;
    margin: 0 auto;
text-align: center;
justify-content: center;
display: block;
   }
   .form_main_items {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
   }
   .footer_list {
    display: block;
    text-align: center;
   }
   .Quality-text {
    margin: 0 auto;
    margin-bottom: 10px;
   }
   .footer_list-items-free-text {
    margin: 0 auto;
   margin-bottom: 50px;
   }
   .footer_list-items-title {
    margin-top: 20px;
    position: relative;
    top:10px;
   }
   .footer_list-items-day-title{
    margin-top: 40px;
   }
   .footer_list-items-free-title {
    margin-top: 50px;

   }
   }

 
   @media(max-width:1126px) {
    .home_inner {
     display: block;
        padding: 0 0 160px 0;
    
    }
    .home_info {
     position: relative;
     top:-600px;
     text-align: center;
     margin-left: 30px;

    }
   
    .home_info-text {
     margin: 0 auto;
     margin-bottom: 20px;
    }
    .home_info-items {
     display: flex;
     justify-content: center;
    }
    .home_images {
     position: relative;
     top:750px;
     display: block;
     margin: 0 auto;
    }
    }
 


    @media(max-width:1075px) {
      .makes_inner {
        display: block;
        text-align: center;
        justify-content: center;
      }
      .makes-text {
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .makes-sub-text {
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .makes_item-numbers {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
      }
      .makes_btn {
        margin-bottom: 140px;
      }
      .form {
        padding: 0px 0 50px 0;
      }
      .aticles {
        padding: 140px 0 100px 0;
      }
        }


@media(max-width:1025px) {
    .covid-title {
    font-size: 36px;
    line-height: 54px;
    }
    .covid-text {
     font-size: 18px;
     max-width: 400px;
     margin-bottom: 20px;
    }
    .covid_btns {
     flex-direction: column;
    }
    .none-btn  {
     position: relative;
     right: 10px;
    }
    .covid_info {
     padding: 20px 0;
     margin-right: 40px;
    }
    .aticles-main-inner {
        display: block;
        text-align: center;
    }
    .aticles-main-text {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .aticles-main-btns {
justify-content: center;
display: flex;
    }
    }



  

 
  

   

   
@media(max-width:924px) {
    .header_main {
        flex-wrap: wrap;
    }
  .menu_list-btn  {
    padding: 0px 30px;
  }
 .service_btn-link-blue {
    background: #0075FF;
    border-radius: 14px;
    padding: 26px 68px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
 }
 
 .service_btn-link {
    padding: 26px 68px;

 }
}




   @media(max-width:903px) {
    .covid_inner {
        display: block;
    }
    .covid_images img {
        width: 50%;
    }
    .covid_images {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .covid-title {
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;

    }
    .covid_btn {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .covid-text {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .covid_info {
        margin-top: 40px;
        text-align: center;
    }
   }

   
   @media(max-width:874px) {
    
    .header_btn  {
      padding: 30px 0;
    }
  }

  @media(max-width:871px) {
    .service_item {
     display: block;
     margin: 0 auto;
     margin-top: 60px;
    }
 }
 
  @media(max-width:846px) {
    .cleaning-item {
        display: block;
        text-align: center;
    }

    .professional_items {
        display: block;
    }
    
    .professional-item {
       margin-bottom: 50px;
    }
    .professional-info {
        display: block;
    }
    .professional-title {
        margin-bottom: 50px;
        text-align: center;
    }
    .professional-btn {
        text-align: center;
        margin-bottom: 10px;
    }
    .professional {
        padding: 60px 0 60px 0;
    }
    .footer_copy_inner {
        display: block;
        text-align: center;
    }
    .footer_copy-item {
        text-align: center;
        margin: 0 auto;
        display: flex;
    }
 }
  

 
 @media(max-width:640px) {
  .footer_copy-list {
    display: block;
    position: relative;
    top:10px;
  }
  .footer_copy-item {
    text-align: center;
    margin: 0 auto;
    display: block;
}
   }
  
   
 @media(max-width:625px) {
  .form_main-item {
    display: block;
    position: relative;
    width: 560px;
  }

   input {
    min-width: 100%;
  }
 
 }
  
   
@media(max-width:600px) {
    .menu-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        margin-right: 15px;
        cursor: pointer;
      }
    
      .menu-btn::before,
      .menu-btn::after {
     content: "";
     position: absolute;
     width: 100%;
     height: 2px;
     background-color: #000;
      }
      
      .menu-btn::before {
        top:9px;
      }
    
      .menu-btn span {
        content: "";
     position: absolute;
     width: 100%;
     height: 2px;
     background-color: #000;
     top:18px;
      }
    
      .menu-btn::after {
        bottom: 9px;
      }
    
      .menu_list {
        display: none;
      }
      .menu_list-btn {
        display: none;
      }
      .menu_phone {
        margin-top: 60px;
        position: absolute;
        right:0;
        left:0;
        display: none;
        padding: 20px 0;
        background: #F7F9FC;
        text-align: center;
        z-index: 999;
        height: 140vh;
    }
     .bom {
        display: flex;
        gap:60px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
     }
     .phone-bom {
        padding: 15px 0;
     }
     .menu_phone >.menu_item {
        padding: 10px 0;
        border-bottom: 1px solid #DCDDEB;
    
     }
     .header_info-main-btn-list {
        flex-direction: column;
     }
     .item-call2 {
        position: relative;
        right: 20px;
     }
     .header-info-title {
        font-size: 56px;
     }
     .header-info-text {
        padding: 0 15px;
        font-size: 19px;
     
    }
    .covid-subtitle {
    font-size: 15px;
    }
    .covid-title {
    font-size: 22px;
    line-height: 40px;
    
    }
    .covid-text {
    font-size: 13px;
    }
    .covid_btn_inner-phone {
        font-size: 18px;
    }
    .covid_info {
        margin-left: 30px;
    }
    .none-btn {
        display: block;
    } 
    .covid_images {
        padding: 30px 0 0 0;
    }
    }
    

   @media(max-width:580px) {
    .service_btns {
      display: block;
    }
    .service_btn {
      padding: 40px 0;
    }
    .cleaning-video-click {
      width: 240px;
    }
   }
  
  

   @media(max-width:550px) {
    .header-info {
        margin-top: 400px;
       }
  
   .resources-text {
    font-size: 17px;
    line-height: 30px;
   }
   }

   @media(max-width:540px) {
   .home_images {
    position: relative;
    top:540px;
   }
   .makes-text {
    font-size: 16px;
   }
   .makes_number {
    font-size: 40px;
    display: flex;
    align-items: center;
   }
   .resources-info-text-main {
    gap:60px;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-top: 20px;
   }
   .resources-info-text-main-item-block {
    width:30px;
    height:30px;
    position: relative;
    top:10px;
   }
   }
   
   @media(max-width:526px) {
    .cleaning-items {
     display: block;
    }
    .cleaning-item {
     padding: 10px 0;
    }
    .cleaning_title {
     font-size: 40px;
     padding: 0 10px;
    }
    .cleaning-text {
     font-size: 17px;
     padding: 0 10px;
    }
  }
 
 
  
       
@media(max-width:506px) {
    .service-title {
        font-size: 40px;
    }
    .service-text {
        font-size: 18px;
        padding: 0 20px;
    }
    .cleaning_title {
        margin-top: -40px;
    }
    .service {
        padding: 240px 0 40px 0;
    }
    .home_inner {
        margin-top: 100px;
    }
    .home_info-title {
        font-size: 32px;
    }
    .home_info-text {
        font-size: 14px;
    }
    .home_images {
        position: relative;
        top:500px
    }
    .textarea {
        height: 100px;
    }
    .form_text {
        font-size: 17px;
    }
    .form_title {
        font-size: 36px;
    }
    .form-text {
        font-size: 17px;

    }
    .form-title {
        font-size: 30px;

    }
    .header_info-main-btn-item-number {
        font-size: 26px;

    }
  }

  @media(max-width:480px) {
  .makes-text {
    font-size: 14px;
    line-height: 26px;
    padding: 0 5px;
   }
   .makes-title {
    padding: 0 5px;

    font-size: 42px;
   }
   .makes_item-numbers {
    display: block;
   }
   .makes_number {
    display: block;
    justify-content: center;
    font-size: 34px;
   }
   .makes_number span {
    position: relative;
    top:5px;
   }
}

@media(max-width:486px) {
   .aticles-main-text {
    font-size: 16px;
   }
  }

  @media(max-width:465px) {
    .professional-title {
     font-size: 36px;
     padding: 0 5px;
    }
    }

   @media(max-width:445px) {
    
    .header-info-title {
     font-size: 48px;
     line-height: 60px;
    }
    .header-info {
     margin-top: 300px;
    }
    .home_info-title{
     font-size: 32px;
     line-height: 46px;
 }
 .home_info-text {
     font-size: 14px;
 }
 .home_info-items {
    gap:20px;
 }
 .home_info-sub-title {
    font-size: 16px;
 }
 .aticles-main-btns {
    display: block;
 }
 .aticles-main_btn {
    padding: 40px 0;
 }
 .aticles-main_btn-link-blue {
    padding: 28px 68px;
 }
 .aticles-main_btn-link {
    padding: 28px 68px;
 }
 .resources-text {
    font-size: 14px;
    line-height: 24px;
 }
 .resources-title {
    font-size: 18px;
    text-transform: uppercase;
 }
 .resources-info {
    padding: 30px 50px 10px 50px;
    height: 354px;
 }

   }
 

   @media(max-width:430px) {
    .service-title {
        font-size: 36px;
    }
    .service-text {
        font-size: 17px;
        padding: 0 20px;
    }
  }

  @media(max-width:417px) {
    .home_info-text {
        font-size: 12px;
    }
    .home_info {
        margin-left: 30px;
    }
    .home_inner {
        padding: 100px 0 0 0;
        
    }
   
    .textarea {
        height: 72px;
        border-radius: 16px;

    }
    
  }

  @media(max-width:400px) {
  .form-second-blue_btn {
    padding: 20px 26px;
  }
  }

  @media(max-width:390px) {
    .cleaning_title {
        font-size: 32px;
    }
    .cleaning-text {
        font-size: 14px;
        padding: 0 20px;
    }
  }


  
 

   @media(max-width:388px) {
   .home_info-title {
    font-size: 28px;
   }
   .home_info-text {
    font-size: 13px;
    line-height: 22px;
   }
  
  .header-info {
    margin-top: 280px;
   }
   }

   @media(max-width:375px) {
    .form-second-blue_btn {
        padding: 16px 20px;
        font-size: 16px;
      }
    }
 

   @media(max-width:360px) {
     .header-info-title {
         font-size: 40px;
         line-height: 56px;
        }
        .header_info-main-btn-item-number {
         font-size: 24px;
        }
        .home_info-title {
            font-size: 24px;
           }
    }
 
    @media(max-width:350px) {
    .home_info-items {
        gap:36px;
    }
    .form_text {
        font-size: 15px;
    }
    .form_title {
        font-size: 32px;
    }
    .form-text {
        font-size: 15px;

    }
    .form-title {
        font-size: 26px;

    }
    .header_info-main-btn-item-number {
        font-size: 23px;

    }
       }
       @media(max-width:346px) {
        .form-second-blue_btn {
            padding: 14px 14px;
            font-size: 14px;
          }
           }

       @media(max-width:332px) {
     .resources-info-text-main {
        display: none;
     }
           }
    



@media(min-width:600px) {
    .menu_phone {
        display: none !important;
    }
    .header-info-text {
        font-size: 17px;
    }
  
}
